body{
    margin-left: 100px;
    margin-right: 100px;
}

/* nav */

nav li{
    display: inline;
    padding-right: 5rem;
}

nav ul{
    padding-bottom: 20px;
    border-bottom: 2px solid black;
}

nav a{
    text-decoration: none;
}

/* intro */

#intro{
    margin: 100px 50px;
}

#intro button{
    border: 1px solid black;
}

#intro button:last-child{
    background-color: black;
    color: white;
}

.flex-container{
    display: flex;
}

#our-mission{
    margin: 100px 50px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#our-mission p{
    padding: 0px 350px;
}