@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&family=JetBrains+Mono&display=swap');

@keyframes slide {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

html {
  font-size: 14px;
  /* or any desired size */
}

/* Font Selections */
body {
  font-family: "Barlow", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
th {
  font-family: "Barlow";
  font-weight: bold;
}

p,
tr {
  font-family: "JetBrains Mono", monospace;
}

/* Banner */
.logos {
  overflow: hidden;
  padding: 30px 0;
  background: none;
  white-space: nowrap;
  position: relative;
}

.logos:before,
.logos:after {
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  content: "";
  z-index: 2;
  color: black;
}

.logos:before {
  left: 0;
}

.logos:after {
  right: 0;
}

.logos-slide {
  display: inline-block;
  animation: 35s slide infinite linear;
}

.logos-slide img {
  height: 50px;
  margin: 0 40px;
}

.hidden-card {
  display: none;
}

/* Landing Page CTA */
.mission-arrow {
  width: 1rem;
  margin-bottom: 0.25rem;
}

.descending-sort-triangle {
  width: 0.5rem;
  display: none;
}

.header-center {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.forum button {
  background-color: black;
  color: white;
}

.img-fluid {
  max-width: 100%;
}

/* Navbar Styling */
.navbar-border {
  border-bottom: 2px solid #4b2e83;
}

.nav-icon {
  width: 2rem;
}

.navbar-brand {
  font-weight: bold;
  font-family: "Barlow", sans-serif;
  color: white !important;
}

.nav-link {
  font-family: "Barlow", sans-serif;
  color: white !important;
}

.nav-backg {
  background-color: #4b2e83;
}

/* Custom Buttons */
.custom-button-primary {
  border-radius: 0;
  border-width: 0.15rem;
  font-weight: bold;
  width: 7rem;
}

.custom-button-primary:hover {
  background-color: black;
}

.custom-button-secondary {
  border-radius: 0;
  border-width: 0.15rem;
  border-color: black;
  color: white;
  background-color: black;
  font-weight: bold;
  width: 7rem;
}

.custom-button-secondary:hover {
  background-color: white;
  border-color: black;
  color: black;
}

.bg-goodGrades {
  background-color: rgba(54,162,235,0.5);
}

.bg-passingGrades {
  background-color: rgba(255,205,86,0.5);
}

.bg-failingGrades {
  background-color: rgba(255,99,132,0.5);
}

/* Footer Styling */
.white-footer-li {
  color: black;
}

.white-footer-li:hover {
  color: black;
}

/* Drawings + Cards */
.drawings img {
  border-bottom: 2px solid black;
  border-top: 2px solid black;
}

.card-body h3 {
  border-bottom: 1px solid #000;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.card-header {
  background-color: rgb(255, 255, 255);
}

.card-styling {
  border-radius: 0;
}

/* Tables */
.table-styling {
  overflow-y: scroll;
  display: block;
  height: 20rem;
  border: 1px solid rgb(114, 114, 114);
}

td:nth-child(1) {
  width: 20%;
}

td:nth-child(2) {
  width: 15%;
}

td:nth-child(3) {
  width: 25%;
}

td:nth-child(4) {
  width: 25%;
}

.drawings {
  height: 75%;
  width: 100%;
}

.btn-sort .flip {
  transform: scale(1, -1);
}

.btn-sort .active {
  color: rgb(129, 183, 205);
}

.btn-sort .white {
  color: white;
}

/* A lot of our media-query work is done within bootstraps grid system. */
/* For example, our research guides page has responsive columns by screen size (md -> lg) */
@media (min-width: 768px) {
  .logos:before {
    left: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
  }

  .logos:after {
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
  }

  .descending-sort-triangle {
    display: inline-block;
  }
}

@media (max-width: 768px) {
  #infotable td, #infotable th{
    font-size: 10px;
  }

  td:nth-child(1) {
    width: 20%;
  }
  
  td:nth-child(2) {
    width: 20%;
  }
  
  td:nth-child(3) {
    width: 35%;
  }
  
  td:nth-child(4) {
    width: 15%;
  }

  .material-icons {
    size: 10px;
  }
}

@media (max-width: 550px) {
  td:nth-child(3), th:nth-child(3) {
    display: none;
  }

  td:nth-child(2) {
    width: 15%;
  }

  td:nth-child(4) {
    width: 15%;
  }
}

#growingIcon {
  transition: transform 0.1s ease;
}

#growingIcon:hover {
  transform: scale(1.1);
}

/* Form Section */
.formbold-input-group {
  display: flex;
  flex-direction: column;
  font-family: "Barlow", sans-serif;
}